<ul class="hr">
    <li>
        <a href="/">
            HOME
        </a>
    </li>
    <li>
        <a href="/about/">
            ABOUT
        </a>
    </li>
    <li>
        <a href="/contact/">
            CONTACTS
        </a>
    </li>
    <li>
        <a href="/create_course/">
            CREATE COURSE
        </a>
    </li>
    <li>
        <a href="/course_list/">
            LIST OF COURSES
        </a>
    </li>
    <li>
        <a href="/create_category/">
            CREATE CATEGORY
        </a>
    </li>
    <li>
        <a href="/category_list/">
            LIST OF CATEGORIES
        </a>
    </li>
</ul>